.page-section-course {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    position: fixed;
}

.course-container {
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
}

.course-rectangle {
    background-color: #c2c2c2;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.rectangle-header {
    width: 100%;
}

.rectangle-button {
    align-self: flex-end;
    margin-top: 10px;
}

.header-text {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    background: linear-gradient(to right, #4A8FB8, transparent);
}

.course-content {
    flex-grow: 1;
}

.course-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.course-description {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: #424242;
}

.course-difficulty {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.course-difficulty-text {
    font-size: 16px;
    text-align: left;
    color: #424242;
}

.course-additional-text {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    color: #424242;
}

.start-btn {
    display: block;
    margin-top: auto;
    background-color: #DA5218;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #ba3d07;
}

.course-rectangle-inline {
    background-color: #c2c2c2;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.course-rectangle-inline .course-difficulty-text .course-additional-text {
    margin: 0 10px;
}

.list-rectangle {
    background-color: #c2c2c2;
    border: 1px solid #4A8FB8;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    flex-direction: column;
}

.list-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-items {
    list-style-type: none;
    padding: 0;
}

.list-item-lesson {
    width: 100%;
    height: 100%;
    background-color: #C2C2C2;
    margin-bottom: 20px;
    border: 1px solid #4A8FB8;
    display: flex;
    flex-direction: column;
    padding: 10px;

    width: calc(100%);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

.list-item-header-lesson {
    font-weight: bold;
    text-align: left;
    background: linear-gradient(to right, #4A8FB8, transparent);
    padding: 5px;
    display: flex;
    /* Add this line */
    align-items: center;
    /* Add this line */
}

.list-item-header-lesson::before {
    content: counter(lesson-counter);
    /* Add this line */
    counter-increment: lesson-counter;
    /* Add this line */
    margin-right: 10px;
    /* Add this line for spacing */
}

.list-item-description-lesson {
    flex-grow: 1;
    text-align: left;
    color: black;
}

.list-item-footer-lesson {
    font-style: italic;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

.list-item-footer-lesson::before {
    content: '';
    display: block;
    width: 100%;
}

.list-items li {
    font-size: 16px;
    margin-bottom: 5px;
}

.list-button {
    display: block;
    margin-top: auto;
    background-color: #DA5218;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-button:hover {
    background-color: #ba3d07;
}