.list-container-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Change 'flex-start' to 'center' */
    align-items: center; /* Add this line to center the items vertically */
    margin-top: 80px;
}

.list-item-courses {
    width: 170px;
    height: 250px;
    background-color: #C2C2C2;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}


.list-item-header-courses {
    font-weight: bold;
    text-align: left;
    background: linear-gradient(to right, #4A8FB8, transparent);
    padding: 5px;
}

.list-item-heading-courses {
    margin: 10px 0;
    text-align: left;
}

.list-item-description-courses {
    flex-grow: 1;
    text-align: left;
    color: black;
}

.list-item-footer-courses {
    font-style: italic;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

.list-item-footer-courses::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px dashed #ccc;
    margin-top: 5px;
}

.courses-heading {
    color: white;
}


@media (max-width: 600px) {
    .list-container-courses {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-item-courses {
        width: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
}