/* .list-container-lesson {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item-lesson {
  width: 200px;
  height: 150px;
  background-color: #c2c2c2;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.item-name-lesson {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-description-lesson {
  font-size: 14px;
} */