.homepage-section {
  background-image: url('../../resources/backgroundNew.jpg');
  background-size: cover;
  background-position: center top;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.homepage-content-wrapper {
  min-height: 100vh;
  overflow: auto;
}

.content-block {
  position: relative;
  text-align: right;
  margin-left: 46%;
  margin-bottom: 3%;
  margin-top: 16%;
  color: #C2C2C2;
  font-family: Arial, sans-serif;
  flex: 1;
}

/* Rest of the CSS */

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-heading {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.page-content {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 4%;
}

.create-account-btn {
  display: block;
  margin: 0 auto;
  background-color: #DA5218;
  color: #FFF;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-account-btn:hover {
  background-color: #ba3d07;
}

.explore-section {
  background-color: black;
  height: 180vh;
  display: flex;
  flex-direction: column;
}

.start-learning {
  color: #C2C2C2;
  font-size: 3em;
}

.top-courses {
  color: #C2C2C2;
  font-size: 1.7em;
}

.developer-section {
  background-color: black;
  height: 170vh;
  display: flex;
  flex-direction: column;
}




@media screen and (max-width: 768px) {
  .content-block {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }

  .page-heading {
    font-size: 2em;
  }

  .page-content {
    font-size: 1em;
  }

  .create-account-btn {
    font-size: 1.2em;
    padding: 0.8em 1.6em;
  }
}
