.myProfile-page-container {
    background-color: black;
    min-height: 100vh;
    display: flex;
    margin-top: 40px;
}

.content-container-myProfile {
    flex: 1;
    display: flex;
}

.left-column-myProfile {
    width: 300px;
    background-color: #c2c2c2;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.right-column-myProfile {
    flex: 1;
    background-color: black;
    overflow-y: auto;
}

.centered-content-myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: sticky;
    top: 0;
}

.centered-content-myProfile label {
    display: inline-block;
    margin-bottom: 10px;
}

.centered-content-myProfile input {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: black;
}

.update-button-myProfile {
    flex: 0;
    margin-right: 10px;
    display: block;
    margin: 0 auto;
    background-color: #DA5218;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.update-button:hover {
    background-color: #ba3d07;
}

.my-courses-myProfile {
    color: #C2C2C2;
    font-size: 1.7em;
}
